-if project == @project
  %a.list-group-item.bg-secondary.text-white.border-secondary.highlight{href: '#'}
    %strong= bip_span project, :name
-else
  %a.list-group-item.bg-transparent.border-secondary{href: project_path(project)}
    = bip_span project, :name
