.card.border-secondary.text-white.bg-transparent
  .card-header.border-secondary
    %h4.d-inline Projects
    %a.btn.btn-sm.border-primary.float-right{href: new_project_path} + New Project
  .list-group.list-group-flush= render @projects
