-if current_project == project
  %a.list-group-item.bg-primary.text-white.border-secondary.highlight{href: '#'}
    = project.name
-else
  %a.list-group-item.bg-transparent.border-secondary{href: project_path(project)}
    = project.name
    -# %p= link_to 'Show', project
    -# %p= link_to 'Edit', edit_project_path(project)
    -# %p= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
