%li.list-group-item.bg-transparent.border-secondary
  %span= project.name
  %span.small= project.description
  -# %p= link_to 'Show', project
  -# %p= link_to 'Edit', edit_project_path(project)
  -# %p= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }
