.card.border-secondary.text-white.bg-transparent
  .card-header.border-secondary
    %h4.d-inline Tasks
    %a.btn.btn-sm.border-primary.float-right{href: new_task_path(project: @project)} + New Task
  .list-group.list-group-flush
    = render @project.tasks
